body {
  text-align: center;
  font-family:helvetica
}

.header {
  background-image:url("/Users/dawn/Desktop/broadway/resources/images/the-flatiron-building.png");
  color:white;
}

.header h1 {
  font-size:70px;
  font-weight:bold;
}

.header p {
  font-size:18px
}

.sec2 h2 {
  font-size:32px;
  font-weight:bold;
}

.sec2 h3 {
font-size:23px;
font-weight:bold;
}

.sec2 p {
  font-size:14px;
  }

#imagerdy {
  background-image: url("/Users/dawn/Desktop/broadway/resources/images/the-flatiron-building.png");
}

.footer p {
  font-size:11px;
  color:white;
  }

.footer {background-color: dimgray;
text-align: left;
}

#adjust {font-size:18px;
}
